<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokedex</title>
    <style>
        html{
            background: linear-gradient(
                    to right,
                    rgba(252, 110, 149, 0.6),
                    rgba(217, 84, 19, 1) 95%
            );
        }
    </style>
  </head>
  <body>
    <h1>Add a Pokemon</h1>
    <form action="/" method="POST">
        Name: <input type="text" name="name"><br />
        Image: <input type="url" name="img"><br />
        Type: <input type="list" name="type"><br /><br />
        STATS <br />
        HP: <input type="text" name="hp"> <br />
        Attack: <input type="text" name="attack"> <br />
        Defense: <input type="text" name="defense"> <br />
        Speed: <input type="text" name="speed"> <br />
        <input type="submit" value="ADD">
    </form>
  </body>
</html>